.border{
    border:1px black solid; width: 25%; margin:auto;
    border-radius: 100px;
}
.margin-down{
    margin-bottom: 20px;
}
.sideleft{
    float: left;
    width: auto;
    margin-left: 15%;
}

.sideleft img{
    width: 350px;
    height: auto;
    border-radius: 15px;

}

.sideright{
    text-align: center;
    float: right;
    width: 35%;
    margin-right: 10%;
    margin-top: 13px;
}
.sideright img{
    width: 32px;
    height: 32px;
    margin: 10px;
}
h1{
    text-align: center;
}

body{
    background-color: azure;
}